<!DOCTYPE html PUBLIC “-//W3C//DTD HTML 4.0 Transitional//EN”>
<meta charset = "utf-8">

<html>
<head>
	<meta http-equiv="x-ua-compatible" content="ie=edge">
	<title> Analysis Page </title>
	<meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="shortcut icon" type="image/x-icon" href="{{url_for('static', filename='img/favicon.png')}}">

	<link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css')}}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/owl.carousel.min.css')}}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/magnific-popup.css')}}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/font-awesome.min.css')}}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/themify-icons.css')}}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/nice-select.css')}}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/flaticon.css')}}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/gijgo.css')}}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/animate.css')}}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/slicknav.css')}}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css')}}">
	<style>
		table { border-collapse:collapse; 
			width : 1000px;
			height: 600px;
		}
		th, td{
			border : 1px solid black;
			text-align: center;
			font-size: 20pt;
			background-color : white;
		}
	</style>
	<script language="javascript">
		function tfidfPopup( num, i ) {
			window.open("./tfidf/" + num + "/" + i, "tfidf", "width=1280, height=720, left=100, top=100")
		}
		function cossimPopup( num, i ) {
			window.open("./cossim/" + num + "/" + i, "cossim", "width=1280, height=720, left=100, top=100")
		}
	</script>
</head>

<body>
	<div style="margin: auto;">
		<div class="slider_area">
        <div class="single_slider d-flex align-items-center justify-content-center slider_bg_1 overlay2">
            <div class="container">
                <div class="row align-items-center justify-content-center">
                    <div class="col-xl-9">
                        <div class="slider_text text-center">
			<div style="margin: auto;">

		<h3> Apache Similarity Calculator </h3>
		 <div class="find_dowmain">
		<form method="POST" action="/analysis_text" enctype="multipart/form-data" class="find_dowmain_form">
			<input type="text" name="url_one"/>
			<button type="submit"> TEXT </button> <br>
		</form>
		 <i class="flaticon-servers"></i>
		 <div id="accordion">
                        <div class="card">
                            <div class="card-header" id="headingTwo">
		<form method="POST" action="/analysis_file" enctype="multipart/form-data">
			<input style="font-size:22px;" type="file" name="file"/>
			<div class="get_started">
			<button style="font-size:24px;" type="submit" class="boxed_btn_green"> FILE </button>
		</form>
	</div>
	</div>
	</div>
	</div>
	</div>
	<div style="margin: auto;">
		<br> <br>
		<table>
		<thead>
			<th>RESULT</th>
			<th>URL</th>
			<th>WORDS</th>
			<th>TIME (sec)</th>
			<th>TF-IDF</th>
			<th>COS Similarity</th>
		</thead>
		<tbody id="my_tbody">
			{% for i in range(0,num) %}
			<tr>
				<td>
					{% if res[i] == 0 %}
					SUCCESS
					{% elif res[i] == 1 %}
					FAILURE
					{% elif res[i] == 2 %}
					OVERLAP
					{% else %}
					ERROR
					{% endif %}
				</td>
				<td>
					{{url[i]}}
				</td>
				<td>
					{% if res[i] == 0 %}
					{{words[i]}}
					{% elif res[i] == 2 %}
					{{words[i]}}
					{% endif %}
				</td>
				<td>
					{% if res[i] == 0 %}
					{{time[i]}}sec
					{% elif res[i] == 2 %}
					{{time[i]}}sec
					{% endif %}
				</td>
				<td>
					{% if res[i] == 0 %}
						{% if num != 1 %}
						<input type="button", name="tfidf", onclick="tfidfPopup({{num}},{{i}})", value=" SHOW ">
						{% endif %}
					{% elif res[i] == 2 %}
					<input type="button", name="tfidf", onclick="tfidfPopup({{num}},{{i}})", value=" SHOW ">
					{% endif %}
				</td>
				<td>
					{% if res[i] == 0 %}
					<input type="button", name="cossim", onclick="cossimPopup({{num}},{{i}})", value=" SHOW ">
					{% elif res[i] == 2 %}
					<input type="button", name="cossim", onclick="cossimPopup({{num}},{{i}})", value=" SHOW ">
					{% endif %}
				</td>
			</tr>
			{% endfor %}
		</tbody>
		</table>
	</div>
	</div>
	</div>
	</div>
	</div>
	</div>
	</div>
	</div>
	</div>
	

	<script src="{{ url_for('static', filename='js/vendor/modernizr-3.5.0.min.js')}}"></script>
    <script src="{{ url_for('static', filename='js/vendor/jquery-1.12.4.min.js')}}"></script>
    <script src="{{ url_for('static', filename='js/popper.min.js')}}"></script>
    <script src="{{ url_for('static', filename='js/bootstrap.min.js')}}"></script>
    <script src="{{ url_for('static', filename='js/owl.carousel.min.js')}}"></script>
    <script src="{{ url_for('static', filename='js/isotope.pkgd.min.js')}}"></script>
    <script src="{{ url_for('static', filename='js/ajax-form.js')}}"></script>
    <script src="{{ url_for('static', filename='js/waypoints.min.js')}}"></script>
    <script src="{{ url_for('static', filename='js/jquery.counterup.min.js')}}"></script>
    <script src="{{ url_for('static', filename='js/imagesloaded.pkgd.min.js')}}"></script>
    <script src="{{ url_for('static', filename='js/scrollIt.js')}}"></script>
    <script src="{{ url_for('static', filename='js/jquery.scrollUp.min.js')}}"></script>
    <script src="{{ url_for('static', filename='js/wow.min.js')}}"></script>
    <script src="{{ url_for('static', filename='js/nice-select.min.js')}}"></script>
    <script src="{{ url_for('static', filename='js/jquery.slicknav.min.js')}}"></script>
    <script src="{{ url_for('static', filename='js/jquery.magnific-popup.min.js')}}"></script>
    <script src="{{ url_for('static', filename='js/plugins.js')}}"></script>
    <script src="{{ url_for('static', filename='js/gijgo.min.js')}}"></script>
    <script src="{{ url_for('static', filename='js/contact.js')}}"></script>
    <script src="{{ url_for('static', filename='js/jquery.ajaxchimp.min.js')}}"></script>
    <script src="{{ url_for('static', filename='js/jquery.form.js')}}"></script>
    <script src="{{ url_for('static', filename='js/jquery.validate.min.js')}}"></script>
    <script src="{{ url_for('static', filename='js/mail-script.js')}}"></script>
    <script src="{{ url_for('static', filename='js/main.js')}}"></script>
</body>

</html>
