<!DOCTYPE html PUBLIC “-//W3C//DTD HTML 4.0 Transitional//EN”>
<meta charset = "utf-8">

<html>
<head>
	<title> Analysis Page </title>
	<style>
		table { border-collapse:collapse; }
		th, td{
			border : 1px solid black;
			text-align: center;
		}
	</style>
	<script language="javascript">
		function tfidfPopup( num, i ) {
			window.open("./tfidf/" + num + "/" + i, "tfidf", "width=400, height=300, left=100, top=100")
		}
		function cossimPopup( num, i ) {
			window.open("./cossim/" + num + "/" + i, "cossim", "width=400, height=300, left=100, top=100")
		}
	</script>
</head>

<body>
	<div style="margin: auto;">
		<h1> Apache Similarity Calculator </h1>
		<form method="POST" action="/analysis_text" enctype="multipart/form-data">
			<input type="text" name="url_one"/>
			<button type="submit"> TEXT </button> <br>
		</form>
		<form method="POST" action="/analysis_file" enctype="multipart/form-data">
			<input type="file" name="file"/>
			<button type="submit"> FILE </button> <br>
		</form>
	</div>
	<div style="margin: auto;">
		<table>
		<thead>
			<th>RESULT</th>
			<th>URL</th>
			<th>WORDS</th>
			<th>TIME (sec)</th>
			<th>TF-IDF</th>
			<th>COS Similarity</th>
		</thead>
		<tbody id="my_tbody">
			{% for i in range(0,num) %}
			<tr>
				<td>
					{% if res[i] == 0 %}
					SUCCESS
					{% elif res[i] == 1 %}
					FAILURE
					{% elif res[i] == 2 %}
					OVERLAP
					{% else %}
					ERROR
					{% endif %}
				</td>
				<td>
					{{url[i]}}
				</td>
				<td>
					{% if res[i] == 0 %}
					{{words[i]}}
					{% elif res[i] == 2 %}
					{{words[i]}}
					{% endif %}
				</td>
				<td>
					{% if res[i] == 0 %}
					{{time[i]}}sec
					{% elif res[i] == 2 %}
					{{time[i]}}sec
					{% endif %}
				</td>
				<td>
					{% if res[i] == 0 %}
						{% if num != 1 %}
						<input type="button", name="tfidf", onclick="tfidfPopup({{num}},{{i}})", value=" SHOW ">
						{% endif %}
					{% elif res[i] == 2 %}
					<input type="button", name="tfidf", onclick="tfidfPopup({{num}},{{i}})", value=" SHOW ">
					{% endif %}
				</td>
				<td>
					{% if res[i] == 0 %}
					<input type="button", name="cossim", onclick="cossimPopup({{num}},{{i}})", value=" SHOW ">
					{% elif res[i] == 2 %}
					<input type="button", name="cossim", onclick="cossimPopup({{num}},{{i}})", value=" SHOW ">
					{% endif %}
				</td>
			</tr>
			{% endfor %}
		</tbody>
		</table>
	</div>

</body>

</html>
